.card {
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    transition: all .3s;
    border: none;
}

.card:hover {
    transform: scale(1.1)
}

.bg-custom {
    background: linear-gradient(145deg, #51a47d 50%, #dbede5 50%);
}

.link-item {
    color: #000;
}

.link-item:hover {
    text-decoration: none;
}

.btn-sort {
    padding: 5px 10px;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
}

.search {
    position: relative;
    top: 30px;
    left: 15px;
}

#search {
    padding: 6px 40px;
}

.m--24 {
    margin: -24px;
}
@media only screen and (max-width: 768px) {
    .m--24{
        margin: 0;
    }
}